{% extends "base.html.twig" %}

{% block title %}Mes évènements favoris
{% endblock %}

{% block body %}
	<div class="text-center mt-5">
		<img src="{{ asset('images/kestuf_orange.png') }}" alt="Logo Kestuf' en orange">
	</div>

	<h2 class="text-center color-main fw-black fs-36px">Tes pépites</h2>

	<div class="cards-container">
		{% if favorites is empty %}
			<div class="text-center mt-5">
				<p class="fs-18px">Tu n'as pas encore de pépites</p>
			</div>
		{% endif %}
		{% for favorite in favorites %}
			<div class="card">
				<a href="{{ path('app_event_show', {'id': favorite.id}) }}">
					<div class="image-container">
						<img class="image-card" src="{{ asset('uploads/images/' ~ favorite.picture) }}" alt="Image de l'évènement {{ favorite.name }}">
						<a href="{{ path('app_event_favorite', {'id': favorite.id}) }}" class="heart-link">
							<i class="fa-regular fa-heart heart-icon"></i>
						</a>
						<div class="dot-under-heart"></div>
					</div>
					<div class="card-body">
						<h2 class="card-title">{{ favorite.name }}</h2>
						<p class="card-text">{{ favorite.description }}</p>
					</div>
					<div class="card-icons">
						<span class="circle"></span>
						<span class="circle"></span>
						<span class="circle"></span>
						<span class="circle"></span>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>

	<div class="text-center my-5">
		<a class="btn fs-18px" href="#">Trouves en d'autres</a>
	</div>
{% endblock %}
