{% extends 'base.html.twig' %}

{% block title %}Tous nos évènements{% endblock %}

{% block body %}
    <h1>Les évènements</h1>

        <div>
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>

    {% for event in events %}
        <div>
            <a href="{{ path('app_event_show', {'id': event.id}) }}">
                <h2>{{ event.name }}</h2>
            </a>
        </div>
        <div>
            {% for e in event.category %}
                <em>#{{ e.type }}</em>
            {% endfor %}
    {% endfor %}

    <div>
        {{ knp_pagination_render(events) }}
    </div>
{% endblock %}
