{% extends 'base.html.twig' %}

{% block title %}Évènement
	{{ event.name }}
	- Kestuf'
{% endblock %}

{% block body %}
	{% include 'components/_nav.html.twig' %}
	<div class="container text-center mt-5">
		<a href="{{ path('app_event') }}" aria-label="Retour à la liste des événements">
			<img src="{{ asset('images/kestuf_orange.png') }}" alt="Logo de Kestuf en orange">
		</a>
	</div>
	<main class="container">
		<h1 class="color-main fs-36px fw-black text-center">Infos du spot</h1>
		<div class="p-2">
			<div class="d-flex justify-content-between align-items-center">
				<h2 class="color-purple fs-24px fw-bold">{{ event.name }}</h2>
				<div class="hollow-circle-heart">
					{% if app.user and event in app.user.eventUserFavorite %}
						<a href="{{ path('app_event_disfavorite', {'id': event.id}) }}" aria-label="Retirer des favoris">
							<i class="fa-solid fa-heart heart-icon-show"></i>
						</a>
					{% else %}
						<a href="{{ path('app_event_favorite', {'id': event.id}) }}" aria-label="Ajouter aux favoris">
							<i class="fa-regular fa-heart heart-icon-show"></i>
						</a>
					{% endif %}
				</div>
			</div>
			<p>{{ event.description }}</p>
			<img class="image-custom-show" src="{{ asset('uploads/images/' ~ event.picture) }}" alt="Image de {{ event.name }}">
		</div>
		<div>
			<ul class="d-flex-custom justify-content-custom-evenly flex-wrap p-3" role="list">
				<li class="list-style-none d-flex align-items-center fs-18px fw-regular mb-3">
					<div class="hollow-circle me-3">
						<i class="fa-solid fa-martini-glass-citrus color-purple fs-24px" aria-hidden="true"></i>
					</div>
					<p>{{ event.category.type }}</p>
				</li>
				<li class="list-style-none d-flex align-items-center fs-18px fw-regular mb-3">
					<div class="hollow-circle me-3">
						<i class="fa-solid fa-location-dot color-purple fs-24px" aria-hidden="true"></i>
					</div>
					<p>{{ event.address }}</p>
				</li>
				<li class="list-style-none d-flex align-items-center fs-18px fw-regular mb-3">
					<div class="hollow-circle me-3">
						<i class="fa-solid fa-euro-sign color-purple fs-24px" aria-hidden="true"></i>
					</div>
					<p>{{ event.price }}</p>
				</li>
				<li class="list-style-none d-flex align-items-center fs-18px fw-regular mb-3">
					<div class="hollow-circle me-3">
						<i class="fa-solid fa-train-subway color-purple fs-24px" aria-hidden="true"></i>
					</div>
					<p>{{ event.stopname }}</p>
				</li>
				<li class="list-style-none d-flex align-items-center fs-18px fw-regular mb-3">
					<div class="hollow-circle me-3">
						<i class="fa-regular fa-clock color-purple fs-24px" aria-hidden="true"></i>
					</div>
					<p>
						{% if event.openhours == null or event.closehours == null %}
							Non renseigné
						{% else %}
							{{ event.openhours|date('H:i') }}
							-
							{{ event.closehours|date('H:i') }}
						{% endif %}
					</p>
				</li>
			</ul>
		</div>
		<div class="p-5 mb-3">
			<div class="d-flex justify-content-center flex-wrap link-container">
				{% if app.user and app.user in outlets %}
					<a href="{{ path('app_event_outlet', {'id': event.id}) }}" class="btn ms-3 link-btn" aria-label="Je ne veux plus y aller">Je ne veux plus y aller !</a>
                	<a href="{{ path('app_event_give_comment', {'id': event.id}) }}" class="btn ms-3 link-btn" aria-label="Laisser un avis">Laisser un avis</a>
				{% elseif app.user and app.user in participants %}
					<a href="{{ path('app_event_participate', {'id': event.id}) }}" class="btn link-btn" aria-label="Se désinscrire de l'événement">En fait non !</a>
                	<a href="#" class="btn ms-3 link-btn" aria-label="Voir les personnes intéressées">Personnes intéressées</a>
                	<a href="{{ path('app_event_give_comment', {'id': event.id}) }}" class="btn ms-3 link-btn" aria-label="Laisser un avis">Laisser un avis</a>
				{% else %}
					<a href="#" class="btn ms-3 link-btn" aria-label="Je veux y aller">Je veux y aller !</a>
                	<a href="{{ path('app_event_participate', {'id': event.id}) }}" class="btn link-btn" aria-label="Participer à l'événement">Rencontres ?</a>
                	<a href="{{ path('app_event_give_comment', {'id': event.id}) }}" class="btn ms-3 link-btn" aria-label="Laisser un avis">Laisser un avis</a>
				{% endif %}
			</div>
		</div>
		<div class="cards-container">
			{% for comment in comments %}
				{% if comment.active == 1 %}
					<div class="card">
						<div class="card-content">
							<p>{{ comment.content }}</p>
							<p class="comment-info">Publié par
								{{ comment.getUserCommentEvent().firstname }}
								le
								{{ comment.getCreatedAt()|date('d/m/Y') }}</p>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</main>
	{% include 'components/_footer.html.twig' %}

	<div id="myModal" class="modal">
		<div class="modal-content">
			<div class="text-end">
				<span class="close color-purple">&times;</span>
			</div>
			<p class="color-blue fs-18px text-justify">
				Super, tu as trouvé l'endroit idéal pour ta sortie ! Maintenant, tu as toutes les informations nécessaires pour t'y rendre.
				<span class="color-purple fs-18px">Une fois sur place, tu pourrais scanner le QR code présent dans l'établissement.</span>
				Cela te permettra de remporter des badges cool et même de débloquer des récompenses spéciales.
			</p>
			<div class="text-center mt-5">
				<a href="{{ path('app_event_outlet', {'id': event.id}) }}" class="btn link-btn fw-bold" aria-label="Bien compris">Bien compris !</a>
			</div>
		</div>
	</div>

	<div id="myModalMeet" class="modal">
		<div class="modal-content">
			<div class="text-end">
				<span class="close-meet color-purple">&times;</span>
			</div>
			{% if participants is empty %}
				<p class="color-blue fs-18px text-center">Personne n'est intéressé par cet événement pour le moment.</p>
			{% else %}
				{% for participant in participants %}
					<div class="d-flex align-items-center mb-3">
						{% if participant.picture == null %}
							<div class="upload-circle me-3" id="upload-circle">
								<i class="fa-solid fa-user"></i>
							</div>
						{% else %}
							<img class="image-profile me-3" src="{{ asset('uploads/images/' ~ participant.picture) }}" alt="Image de profil de {{ participant.firstname }} {{ participant.surname }}">
						{% endif %}
						<a class="fw-bold fs-18px color-purple" href="{{ path('app_profile', {'surname': participant.surname}) }}">{{ participant.firstname }}</a>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>

	{% block javascripts %}
    	{{ parent() }}
    	<script>
    	    document.addEventListener('turbo:load', (event) => {
    	        const modal = document.getElementById("myModal");
    	        const btn = document.querySelector(".link-btn[aria-label='Je veux y aller']");
    	        const span = document.getElementsByClassName("close")[0];
    	        const bienComprisBtn = document.querySelector(".btn[aria-label='Bien compris']");

    	        const modalMeet = document.getElementById("myModalMeet");
    	        const btnMeet = document.querySelector(".link-btn[aria-label='Voir les personnes intéressées']");
    	        const spanMeet = document.getElementsByClassName("close-meet")[0];

    	        if (btn) {
    	            btn.onclick = function (e) {
    	                e.preventDefault();
    	                modal.style.display = "block";
    	            }
    	        }

    	        if (btnMeet) {
    	            btnMeet.onclick = function (e) {
    	                e.preventDefault();
    	                modalMeet.style.display = "block";
    	            }
    	        }

    	        if (span) {
    	            span.onclick = function () {
    	                modal.style.display = "none";
    	            }
    	        }

    	        if (spanMeet) {
    	            spanMeet.onclick = function () {
    	                modalMeet.style.display = "none";
    	            }
    	        }

    	        if (bienComprisBtn) {
    	            bienComprisBtn.onclick = function () {
    	                modal.style.display = "none";
    	            }
    	        }

    	        window.onclick = function (event) {
    	            if (event.target == modal) {
    	                modal.style.display = "none";
    	            }

    	            if (event.target == modalMeet) {
    	                modalMeet.style.display = "none";
    	            }
    	        }
    	    });
    	</script>
	{% endblock %}
{% endblock %}
