{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Les évènements
{% endblock %}

{% block page_actions %}
	<a class="btn btn-primary" href="{{ path('admin_event_create') }}">Ajouter un évènement</a>
{% endblock %}

{% block main %}
	{# Initialisation des champs optionnels à false #}
	{% set columnsToShow = {'description': false, 'category': false, 'picture': false, 'price': false, 'open_hours': false, 'close_hours': false} %}

	{# Dynamique de décision pour l'affichage des colonnes #}
	{% for event in events %}
		{% set columnsToShow = columnsToShow|merge({
            'description': columnsToShow.description or event.description,
            'category': columnsToShow.category or event.category,
            'picture': columnsToShow.picture or event.picture,
            'price': columnsToShow.price or event.price,
            'open_hours': columnsToShow.open_hours or event.open_hours,
			'close_hours': columnsToShow.close_hours or event.close_hours,
        }) %}
	{% endfor %}

	{% if events|length > 0 %}
		<div class="table-responsive">
			<table class="table table-hover">
				<thead class="thead-light">
					<tr>
						<th>Nom de l'évènement</th>
						<th>Adresse</th>
						{% if columnsToShow.description %}
							<th>Description</th>
						{% endif %}
						{% if columnsToShow.category %}
							<th>Catégorie</th>
						{% endif %}
						{% if columnsToShow.picture %}
							<th>Image</th>
						{% endif %}
						{% if columnsToShow.price %}
							<th>Prix</th>
						{% endif %}
						{% if columnsToShow.open_hours %}
							<th>Heure d'ouverture</th>
						{% endif %}
						{% if columnsToShow.close_hours %}
							<th>Heure de fermeture</th>
						{% endif %}
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for event in events %}
						<tr>
							<td>{{ event.name }}</td>
							<td>{{ event.address }}</td>
							{% if columnsToShow.description %}
								<td>{{ event.description|default('N/A') }}</td>
							{% endif %}
							{% if columnsToShow.category %}
								<td>{{ event.category.type|default('N/A') }}</td>
							{% endif %}
							{% if columnsToShow.picture %}
								<td>{{ event.picture ? 'Oui' : 'Non' }}</td>
							{% endif %}
							{% if columnsToShow.price %}
								<td>{{ event.price ? event.price ~ '' : 'N/A' }}</td>
							{% endif %}
							{% if columnsToShow.open_hours %}
								<td>{{ event.open_hours ? event.open_hours|date('H:i:s') : 'N/A' }}</td>
							{% endif %}
							{% if columnsToShow.close_hours %}
								<td>{{ event.close_hours ? event.close_hours|date('H:i:s') : 'N/A' }}</td>
							{% endif %} 
							<td class="actions z-3">
								<div class="dropdown">
									<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton{{ event.id }}" data-bs-toggle="dropdown" aria-expanded="false">
										Actions
									</button>
									<ul class="dropdown-menu z-3" aria-labelledby="dropdownMenuButton{{ event.id }}">
										<li>
											<a class="dropdown-item" href="{{ path('admin_event_show', {'id': event.id}) }}">
												<i class="fa-solid fa-eye"></i>
												Voir
											</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('admin_event_update', {'id': event.id}) }}">
												<i class="fa-solid fa-pen-to-square"></i>
												Modifier
											</a>
										</li>
										<li>
											<a class="dropdown-item text-danger" href="{{ path('admin_event_delete', {'id': event.id}) }}" data-bs-toggle="modal" data-bs-target="#modal-delete-{{ event.id }}">
												<i class="fa-solid fa-trash"></i>
												Supprimer
											</a>
										</li>
									</ul>
								</div>
								<!-- Modal for delete confirmation -->
								<div class="modal fade" id="modal-delete-{{ event.id }}" tabindex="-1" aria-labelledby="modalLabelDelete{{ event.id }}" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="modalLabelDelete{{ event.id }}">Confirmer la suppression</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												Êtes-vous sûr de vouloir supprimer cet élément ?
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
												<a href="{{ path('admin_event_delete', {'id': event.id}) }}" class="btn btn-danger">Supprimer</a>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<p>Aucun évènement disponible pour le moment.
			<a href="{{ path('admin_event_create') }}">Ajoutez un nouvel évènement</a>.</p>
	{% endif %}
{% endblock %}

{% block custom_styles %}
	<style>
		.table-hover tbody tr:hover {
			background-color: #f5f5f5;
		}
		.btn-outline-primary,
		.btn-outline-danger {
			margin-right: 5px;
		}
	</style>
{% endblock %}
