{% extends "base.html.twig" %}

{% block title %}Filtrer
{% endblock %}

{% block body %}
	<main class="container p-2">
		<a href="{{ path('app_map') }}">Retour</a>
		<h1 class="color-main fw-black fs-36px">Les filtres</h1>
		{{ form_start(formFilter, {'method': 'GET', 'action': path('app_map')}) }}

		<h3 class="color-blue fw-bold fs-24px">Localisation</h3>
		<div class="location">
			<button class="btn-location">Autour de moi</button>
			<input type="range" min="1" max="100" value="1" class="slider" id="locationRange">
			<label for="locationRange">1 km</label>
		</div>

		<h3 class="color-blue fw-bold fs-24px">Prix</h3>
		<div class="price-options">
			{% for child in formFilter.price %}
				<div class="price-option">
					{{ form_widget(child, {'attr': {'class': 'color-blue fw-regular price' }}) }}
					{{ form_label(child) }}
				</div>
			{% endfor %}
		</div>

		<h3 class="color-blue fw-bold fs-24px">Type de lieux</h3>
		<div class="type-options">
			{% for child in formFilter.category %}
				<div class="type-option">
					{{ form_widget(child, {'attr': {'class': 'color-blue fw-regular type' }}) }}
					{{ form_label(child) }}
				</div>
			{% endfor %}
		</div>

		<h3 class="color-blue fw-bold fs-24px">Ambiance</h3>
		<div class="ambiance-options">
			{% for child in formFilter.ambiance_event %}
				<div class="ambiance-option">
					{{ form_widget(child, {'attr': {'class': 'color-blue fw-regular ambiance' }}) }}
					{{ form_label(child) }}
				</div>
			{% endfor %}
		</div>

		<h3 class="color-blue fw-bold fs-24px">Régime spécial</h3>
		<div class="specialRegime-options">
			{% for child in formFilter.specialRegime_event %}
				<div class="specialRegime-option">
					{{ form_widget(child, {'attr': {'class': 'color-blue fw-regular specialRegime' }}) }}
					{{ form_label(child) }}
				</div>
			{% endfor %}
		</div>

		<div class="d-flex justify-content-center flex-wrap link-container">
			<button type="submit" class="btn link-btn fw-bold fs-20px" aria-label="Valider les filtres">Je valide fort !</button>
			<button type="reset" class="btn link-btn fw-bold fs-20px" aria-label="Réinitialiser les filtres">Réinitialiser</button>
		</div>
		{{ form_end(formFilter) }}
	</main>
{% endblock %}
