{% extends "base.html.twig" %}

{% block title %}Carte
{% endblock %}

{% block body %}
	{% include 'components/_nav.html.twig' %}
	<div class="container text-center mt-5">
		<a href="{{ path('app_event') }}" aria-label="Retour à la page des évènements">
			<img src="{{ asset('images/kestuf_orange.png') }}" alt="Logo Kestuf' en orange">
		</a>
	</div>

	<main class="container">
		<h1 class="text-center color-main fw-black fs-36px">Cherche un spot</h1>
		<a class="btn-filter ms-2" href="{{ path('app_filter') }}">Filtrer</a>

		<div class="p-2 mt-3">
			<div id="map"></div>
		</div>

		<div class="p-5 mb-3">
			<div class="d-flex justify-content-center flex-wrap link-container">
				<a href="{{ path('app_favorite') }}" class="btn ms-3 link-btn" aria-label="Tes favoris">Tes favoris</a>
			</div>
		</div>
	</main>

	{% block javascripts %}
        {{ parent() }}
        <script>
            document.addEventListener('turbo:load', function () {
			    const mapContainer = document.getElementById('map');

				if (mapContainer && !mapContainer._leaflet_id) {
			    	const map = L.map(mapContainer).setView([45.750000, 4.850000], 13);

			    	L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
			    	    maxZoom: 19,
			    	    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
			    	}).addTo(map);

			    	fetch("{{ path('app_map_data') }}")
			    	.then(response => response.json()) // Transformation of the response into JSON
			    	.then(data => { // Récupération des données
			    	    data.forEach(event => { // Boucle sur les données
			    	        L.marker([event.latitude, event.longitude]).addTo(map)
			    	        .bindPopup(
			    	            `<h2>${event.name}</h2>
			    	            <a href="${createEventShowUrl(event.id)}">Voir l'évènement</a>`
			    	        );
			    	    });
			    	})
			    	.catch(error => console.error("Erreur :", error));
				}

				function createEventShowUrl(eventId) {
            	    const url = "{{ path('app_event_show', {'id': 'REPLACE_ID'}) }}";
            	    return url.replace('REPLACE_ID', eventId);
            	}
			});
        </script>
    {% endblock %}
{% endblock %}
