{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Les types de catégories
{% endblock %}
{% block page_actions %}
	<a class="btn btn-primary" href="{{ path('admin_category_create') }}">Ajouter une catégorie</a>
{% endblock %}

{% block main %}
	<table class="datagrid">
		<thead>
			<tr>
				<th><input type="checkbox" id="select-all"></th>
				<th>Nom de la catégorie</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<tr>
					<td><input type="checkbox" name="item_id[]" value="{{ category.id }}"></td>
					<td>
					<a href="{{ path('admin_category_show', {'id': category.id}) }}">{{ category.type }}</a>
					</td>
					<td>
						<a href="{{ path('admin_category_update', {'id': category.id}) }}" class="btn btn-primary">Editer</a>
					</td>
					<td>
						<a href="{{ path('admin_category_delete', {'id': category.id}) }}" class="btn btn-danger">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
